.features-container {
  background: #323232;
  position: relative;
  z-index: 0; // I don't know why .feature-container will be below .wave
  overflow: hidden; // cut down the bottom of the wave

  .wave {
    position: absolute;
    left: 0;
    bottom: -25%; // move down the wave.
    width: 100%;
    z-index: -1;
  }
}

.features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .cards {
    display: flex;
    justify-content: space-between;
    color: black;
    .card {
      background: white;
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 2rem;
      overflow: hidden; // this is ensure the img top corners are also cut according to the radius.
      h4 {
        margin: 2rem 0 1rem 0;
      }
      p {
        padding: 2rem;
      }
      img {
        object-fit: cover;
      }
    }
  }
}
