.home {
  background: radial-gradient(#525252, #131313);
}
.nav-container {
  background: rgb(7, 7, 7);
}
nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
  }
  #logo {
    flex: 3; // this means the space of ul:#logo === 1:3
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 6rem;
      height: 6rem;
      background: #f54538;
      border-radius: 50%;
      transform: translate(-10%, -20%);
      mix-blend-mode: screen; // z-index: 2; on #logo or negative on ::after pseudo element will not work.
    }
  }

  .order {
    background: #f54538;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
}

.showcase {
  display: grid;
  min-height: 90vh;

  // Easy to see it with firefox and tick the grid section under .showcase
  // the 10% 10% is because our nav is 80% is margin: auto. So it will align
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  grid-template-rows: 1fr 2fr 1fr;

  h2 {
    grid-column: 2 / 3;
  }
  img {
    grid-row: 2 / 3;
    grid-column: 3 / 4; // need to have this one because it's in the second row, without this will auto put it into column 2/3
  }
  .info {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
  }
}
