.home {
  background: radial-gradient(#525252, #131313);
}
.nav-container {
  background: rgb(7, 7, 7);
}
nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  #logo {
    flex: 3; // this means the space of ul:#logo === 1:3
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 6rem;
      height: 6rem;
      background: #f54538;
      border-radius: 50%;
      transform: translate(-10%, -20%);
      mix-blend-mode: screen; // z-index: 2; on #logo or negative on ::after pseudo element will not work.
    }
  }
}
